body, html{
    background-color: #D0F2F3 !important;
    margin: 5%;

}
div.inline {
    display: flex;
    align-items: center;
}

label{
    color: #0367A5;
    margin: auto;
    margin-left: 0;
    text-align: left;
    font-family: Roboto;
    margin-top: 2%;
}
.file{
    background-color: #CFCFCF;
    display: block;
    Width: 150px;
    height: 35px;
    border-radius: 10px;
}
.codeimport{
    width: 500px;
    border-radius: 5px;
    margin-top: 2%;
    background-color: #CFCFCF;
}
#back-menu{
    background-color:  #D89191;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-right: 2%;
    width: 200px;
    Height: 50px;
    border-radius: 25px;
    margin-top: 3%;
}

#create-code {
    background-color:#91BDD8;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: auto;
    width: 200px;
    Height: 50px;
    border-radius: 25px;
    margin-top: 3.2%;
}
header {
    text-align: center;
    margin-top: -9%;
}


#button1, #button2, #button3, #button4 {
background-color: #0367A5;
font-family: Roboto;
font-style: normal;
font-weight: bold;
color: white;
font-size: 24px;
line-height: 50px;
width: 250px;
margin-right: 2%;
margin-top: 2%;
margin-bottom: 2%;
border-radius: 10px;
}
#logo{
display: flex;

}
img {
width: 70px;
height: 70px;
}
#titulo{
margin-top: 3.0%;
margin-left: 0.5%;
font-size: 25px;
}

hr {
width: 100%;
border: none;
height: 1px;
/* Set the hr color */
background-color:rgba(196, 196, 196, 1);
margin-top: 3%;
}
#codecreate {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    color: #2c3e50;
    margin: 4%;
  }
  
  #nav {
    padding: 30px;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  .fa-plus-square{
    font-size: 30px;
    margin-top: 4%;
    cursor: pointer;
  }
  .nline{
    margin-top: 2%;
    cursor: pointer;
  }
  #listcreate {
      margin-top: 2%;
  }
  .fa-search, .fa-filter{
      margin-top: 3%;
      margin-right: 3%;
      font-size: 20px;
  }
  #consulttable{
      margin-top: 3%;
  }