body, html{
    background-color: #D0F2F3 !important;
    margin: 5%;

}
img {
    width: 93px;
    height: 93px;
}
#logo{
    display: flex;
    
}

#titulo{
    margin-top: 3.5%;
    margin-left: 1.5%;
}

div.inline {
    display: flex;
    align-items: center;
}
label{
    color: #0367A5;
    margin: auto;
    margin-left: 0;
    text-align: left;
    font-family: Roboto;
    margin-top: 2%;
}
input{
    background-color: #CFCFCF;
    display: block;
    Width: 300px;
    height: 35px;
    border-radius: 10px;
}

.container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 30%;
    clear: both;
  }

hr {
    width: 100%;
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color:rgba(196, 196, 196, 1);
    margin-top: 3%;
}

#back-menu{
    background-color:  #D89191;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-right: 2%;
    width: 217px;
    Height: 58px;
    border-radius: 25px;
}

#create-code {
    background-color:#91BDD8;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: auto;
    width: 217px;
    Height: 58px;
    border-radius: 25px;
}

#button1{
    background-color: #91BDD8;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 58px;
    width: 300px;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 25px;
}

#button2, #button3, #button4 {
    background-color: #0367A5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 58px;
    width: 300px;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 25px;
}