body, html{
    background-color: #D0F2F3 !important;
    margin: 5%;

}
label, .descricao{
    color: #0367A5;
    margin: auto;
    margin-left: 5%;
    text-align: left;
    font-family: Roboto;
    margin-top: 5%;
}
header {
    text-align:center;
    margin-top: -10%;
}

#button1, #button2, #button3, #button4 {
    background-color: #0367A5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 50px;
    width: 250px;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    }

    #button5 {
        background-color: #0367A5;
        font-family: Roboto;
        font-style: normal;
        width: 180px;
        color: white;
        margin-right: 2%;
        margin-top: 13%;
        margin-left: 28%;
        margin-bottom: 2%;
        border-radius: 10px;

    }
    #button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover{
        background-color: #71a3c2;
      }
    #logo{
        display: flex;
    }
    img {
        width: 70px;
        height: 70px;
    }
    #titulo{
        margin-top: 3.0%;
        margin-left: 0.5%;
        font-size: 25px;
    }
    .file{
        background-color: #CFCFCF;
        display: block;
        Width: 250px;
        height: 35px;
        border-radius: 10px;
        border: none;
        margin-top: 5px;

    }

    #table{
        margin-top: 1%;
    }
    #btnBack{
        margin-top: 15px;
        margin-left: 91%;
        width: 100px;
        background-color: #b22222;
        font-family: Roboto;
    }
    #btnBack:hover{
        background-color: #FF6347;
    }


