<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"</meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"</meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" th:href="@{/styles/style2.css}">
    <title>Error</title>
</head>
<body class="bkg">
   	 <div class="position">
      	<div class="comments">
        	<div class="comment bubble">
          <p>An error has occurred while updating your codelist!<br><br>Please, check our user manual.<br></p>
        </div>
       </div>
      <img class="assistant" th:src="@{/images/assistant5.png}"/>
 	</div>
</body>
</html>