<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LepDelete</title>
</head>
<body id="codecreate" class=".bg-info">

<header id="header">
            <div id="logo">

                <img id="logoLep" src='images/lep.png'> </img>
                <h1 id="titulo"> <strong> List of Effective Pages </strong> </h1>
            </div>

                <a id = "button1" href="/lep-create" class="btn">
                     Create LEP
                </a>

                <a id = "button2" href="" class="btn">
                     Consult LEP
                </a>
               
                <a id = "button3" href="" class="btn">
                     Edit LEP
                </a>
            
                <a id = "button4" href="/lep-delete" class="btn">
                     Delete LEP
                </a>
        </header>
        <div class="inline">
            <label>Primary Key
                <input id="primaryKey" class="fileLep" type="text"></input>
            </label>
            <label>Secundary Key
                <input id="secundaryKey" class="fileLep" type="text"></input>
            </label>
            <i class="fas fa-search"></i>
            <label>Tag
                <input id="tag"  class="fileLep" type="text"></input>
            </label>
            <label>Revision Number
                <input id="revisionNumber"  class="fileLep" type="text"></input>
            </label>
            <i class="fas fa-filter"></i>
        </div>
        <div class="inline">
            <hr>
            <button onclick="getFile();" id="consult-lep" class="btn btn-secondary float-right">Consult</button>
            <button onclick="getFile();" id="resetForm" class="btn btn-secondary float-right">Reset</button>
        </div>
        <hr>
        <div class="container">
            <table class="table table-striped">
                  <tr>
                    <th>Name</th>
                    <th>Modification Date</th>
                    <th>Type</th>
                    <th>Size</th>
                  </tr>
              	  <tr >
              	  	<td ></td>
              	  	<td ></td>
              	  	<td ></td>
              	  	<td ></td>
              	  </tr>
              </table>
              <a id="back" href="/menu" class="btn btn-secondary float-right">Back</a>
        </div>
    <script src="script.js"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"></script>
</body>
</html>