html, body {
  background-color: #D0F2F3;
  margin: 0;
  height: 100%;
  weight: 100%;
}

.comments {
  width: 450px;
}

.comments .comment{
  width: 100%;
  margin-bottom: 10px;
}

.comments .comment p{
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: Arial;
}

.bubble {
  position: relative;
  padding: 2em;
  border-radius: .3em;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
  background-color: #fff;
}

.bubble:hover {
  box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.bubble::after {
  content: "";
  display: block;
  position: absolute;

  right: -15px;
  bottom: 5px;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #fff;
}

.position {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assistant {
  max-width: 400px;
  max-height: 400px;
  margin-top: 200px;
  margin-left: 50px;
}
